<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISLA</title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">


  </head>
  <body>
    <div id="title">
      <header>I S L A</header>
    </div>
    <div id="container">
      <video id="video" width="1080" height="720" autoplay muted></video>
    </div>
    <script defer src="../js/face-api.min.js"></script>
    <script defer src="../js/index.js"></script>


      <button id="reset" onClick="window.location.reload();">Reset</button>
      <button id="record">Speak</button>

      <div id="main">
        <div><input id="input" type="text" placeholder="Say something..." autocomplete="off"/></div>
      </div>
      <div id="about">
        <p>This is ISLA, Interactive System and Language Analysis.<br/>
            ISLA can see you and will respond accordingly. Ask her whatever questions you see fit.  You can interact<br/>
            with her via typing, or by pressing the "Speak" button you can talk to her using your voice.  This will populate <br/>
            the input box, then pressing "Enter" will push the text.</p>
      </div>
  </body>
</html>
