


body {
    margin: 0;
    padding: 0;
    color: #421;
    font-weight: bold;
    font-size: 18px;
    font-family: "Courier New";
    background: rgb(187, 187, 187);
}

#title {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  width: 100%;
  position: center;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 35px;
  color: white;
  background-color: black;
  justify-content: center;
  padding: 15px;
  letter-spacing: 10px;
}

#about {
  position: absolute;
  bottom: -1%;
  left: 2%;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
}

canvas {
  position: absolute;
}

#container{
  position: absolute;
  left: -2.5%;
  bottom: 8%;
  padding: 5px;
  display: flex;
  width: 1080px;
  height: 720px;
}

#buttons {
  position: fixed;
  top: 5%;
  right: 300px;
  width: 400px;
}

#record {
  position: absolute;
  justify-content: center;
  top: 9.5%;
  right: 13%;
  width: 75px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
  display: flex;
}

#record:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

#reset {
  position: absolute;
  justify-content: center;
  top: 9.5%;
  right: 8.5%;
  width: 75px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
  display: flex;
}

#reset:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

#main {
    position: absolute;
    top: 5%;
    right: 400px;
    width: 400px;
    border: 0px solid #421;
    padding: 40px;
}
#main div {
    margin: 10px;
}
#input {
    width: 130%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    display: flex;
}

#input:focus{
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

#abovevid {
  position: absolute;
  top: 8%;
  left: 14%;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
}